# ignore compiled python files
*.pyc

*.pdf
*.png
*.csv
*.cap
./rScripts/test_files/
.Rhistory
.idea/
measurements/02_lowBandwidthSsh/vagrant_log.txt
measurements/02_lowBandwidthSsh/run*.sh
rScripts/metricsEcdf/meas/
rScripts/compareMetricsEcdf/meas/
*.RData
vagrant/onos/.vagrant
*.log